API_ID=12xxxxx
API_HASH=abcxxxxxxxxxxx
# Điền SESSION_STRING nếu muốn dùng Userbot. Nếu dùng Bot thì để trống.
SESSION_STRING=xxxxxxx
# Điền BOT_TOKEN nếu dùng Bot.
BOT_TOKEN=xxxxxx
# Thay vì ID nhóm, bạn có thể dùng "me" để lưu vào Saved Messages (chỉ áp dụng cho Userbot)
LOG_GROUP_ID=-1003900839462
ADMIN_PASSWORD=xxxxx
#Nếu có telegram Premium bạn có thể nâng lên 4096 (chỉ Userbot)
MAX_UPLOAD_SIZE_MB=2048
# Đường dẫn SQLite. Chạy local có thể giữ mặc định, chạy Docker/Compose nên dùng /data/database.db
DATABASE_PATH=database.db
# Thư mục lưu thumbnail. Chạy local có thể giữ mặc định, chạy Docker/Compose nên dùng /data/thumbs
THUMBS_DIR=static/thumbs
PORT=8091
